.body {
    background-color: rgb(170, 170, 170);
}

.main {
    background-color: rgb(255, 0, 0);
}

h1 {
    color: rgb(255, 255, 255);
}

.first-box {
    display: flex;
    box-sizing: border-box;
    margin-top: 5%;
    margin-left: 20px;
    margin-right: 20px;
    /*
    padding-top: 5%;*/
    padding-bottom: 5%;
    border: black 1px solid;
    background-color: rgb(119, 169, 243);
}

.first-box-image-container {
    border: black 1px solid;
}

.first-box-text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.first-box-text-container {
    border: black 1px solid;
}

.middle-white-space {
    text-align: center;
}

.suit-image {
    width: 70%;
    height: auto;
}


/*SECOND BOX..............................*/

.three-icon-container {
    display: flex;
    background-color: rgb(119, 169, 243);
    color: white;
    border: black 1px solid;
}

.multi-icons {
    border: 1px white solid;
    padding: 1%;
}

.icon-div {
    justify-content: center;
    text-align: center;
}

.fa-solid {
    color: white;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 10px;
}

.icon-2-text {
    text-align: center;
}

.icon-3-text {
    text-align: right;
}