/*To do:
-text and icons to resize with viewport
-centralise and increase nu,ber of pics in gallery
-check icon boxed on mobile
-make main image stand out more similar to the original page
-add buttons
*/

* {
    box-sizing: border-box;
}

.body {
    /*background-color: rgba(160, 154, 154, 0.719);*/
    background: url(https://wallpaperaccess.com/full/186476.jpg);
    background-repeat: repeat;
}

.main {
    background-color: rgba(182, 60, 141, 0);
}

h1 {
    color: rgb(255, 255, 255);
}

.first-box {
    display: flex;
    box-sizing: border-box;
    margin-top: 5%;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(119, 169, 243);
    border: black 1px solid;
    padding-top: 5%;
}

.first-box-image-container {
    /*border: black 1px solid;*/
}

.first-box-text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(2vw);
}

#first-text {
    border-bottom: white solid 3px;
    padding-bottom: 6%;
}

.first-box-text-container {
    border: black 1px solid;
    vertical-align: middle;
    padding-right: 4%;
}

#app-button {
    color: rgb(119, 169, 243);
    border: inherit;
    font-weight: bolder;
    text-align: center;
    justify-content: center;
    border: 1px solid rgb(119, 169, 243);
}

#app-button:hover {
    background-color: rgb(119, 169, 243);
    color: white;
    border: 1px solid black;
}

.middle-white-space {
    text-align: center;
}

.suit-image {
    width: 70%;
    height: auto;
    margin-bottom: 50px;
    margin-left: 50px;
}

p.pic-desc {
    align-content: center;
}


/*SECOND BOX..............................*/

.three-icon-container {
    display: flex;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(119, 169, 243);
    color: white;
}

.multi-icons {
    border: 1px white solid;
    padding: 1%;
}

.icon-div {
    text-align: center;
    border-bottom-style: solid;
    border-bottom: 4px white solid;
    border-bottom-width: 4px;
    font-size: 40px;
}

.fa-solid {
    color: white;
    text-align: center;
    padding-bottom: 10px;
}

.icon-2-text {
    text-align: center;
}

.icon-3-text {
    text-align: right;
}


/*BOX 3..................... */

p span {
    display: block;
    text-align: center;
    color: black;
    font-weight: bold;
}

.image-gallery {
    box-sizing: border-box;
    border: solid black 3px;
}

.bottom-box {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 2%;
    padding: 1% 2%;
}

.contact {
    border: white solid 1px;
    color: white;
    background-color: inherit;
}

.contact:hover {
    background-color: white;
    color: black;
}


/*flexed icons below................*/

.flex-icon-container {
    display: flex;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(119, 169, 243);
    color: white;
}

.flex-icons {
    border: 1px white solid;
    padding: 1%;
}

.flex-icon-container {
    flex-wrap: wrap;
}

.flex-icons {
    flex: 33.3%;
}

@media screen and (max-width:992px) {
    flex: 50%;
}

@media screen and (max-width: 600px) {
    .flex-icon-container {
        flex-direction: column;
        text-align: center;
        /*why doesnt text align target all of them*/
    }
}

.footer {
    text-align: center;
}


/*
    display: flex;
    flex-wrap: wrap;*/


/*TESTING**********************/


/*this
.gallery-container2 {
    border: white solid 3px;
}


/*
.gallery-container 2{
    border: solid white 3px;
    display: flex;
    width: 50px;
    height: auto;
}*/


/* TESTING********************* .gallery {
    border: solid blue 1px;
    max-width: 200px;
    height: auto;
}
#gal-pic-b-1 {
    height: 350px;
    width: 300px;
}
#gal-pic-b-2 {
    height: 350px;
    width: 300px;
}
#gal-pic-b-3 {
    height: 350px;
    width: 300px;
}
#gal-pic-b-4 {
    height: 350px;
    width: 300px;
}
#gal-pic-b-5 {
    height: 350px;
    width: 300px;
}
#gal-pic-b-6 {
    height: 350px;
    width: 300px;
}
#gal-pic-b-7 {
    height: 350px;
    width: 300px;
}
#gal-pic-b-8 {
    height: 350px;
    width: 300px;
}
#gal-pic-b-9 {
    height: 350px;
    width: 300px;
}
#gal-pic-b-1 {
    height: 350px;
    width: 300px;
}
TESTING***************** SOMEHOW,
UNCOMMENTING AND SAVING THIS BELOW SHIFTS ALL THE TEXT TO THE RIGHT)) div.gallery {
    margin: 5px;
    border: 1px solid rgb(245,
    7,
    7);
    float: left;
    width: 180px;
}
div.gallery:hover {
    border: 1px solid rgb(194,
    245,
    12);
}
div.gallery img {
    width: 100%;
    height: auto;
    border: 1px solid rgb(30,
    216,
    5);
}
div.desc {
    padding: 15px;
    text-align: center;
}
*/

#abcpic1 {
    width: 200px;
    height: 200px;
}

#abcpic2 {
    width: 200px;
    height: 200px;
}

#abcpic3 {
    width: 200px;
    height: 200px;
}

#abcpic4 {
    width: 200px;
    height: 200px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}


/* Create four equal columns */

.column {
    flex: 25%;
    padding: 20px;
    /* WHY DOES ADDING A COLOR ALTER THE FORMATTING*/
    background-color: rgba(245, 10, 206, 0.863);
}


/* On screens that are 992px wide or less, go from four columns to two columns */

@media screen and (max-width: 992px) {
    .column {
        flex: 50%;
    }
}


/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }
}


/* MAKING RESPONSIVE FONT SIZING
@media screen and (max-width) {
    .first-box-text {

    }
}
*/